# Local and envir.mdonment files
*.local.*
.env

# Godot-specific ignores
.godot/
*.import
# export_presets.cfg
*.translation

# Build artifacts
bin/
build/
dist/
artifacts/godot-captures/
*.pck
*.exe
*.zip

# System/Misc
.DS_Store
node_modules/

godot-project/artifacts/godot-captures/*
artifacts/godot-runtime/*

.claude/*